<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>

        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilos.css"/>   
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" >
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


    </head>

    <body>

        <br/>
        <br/>
        <br/>



        <h1 class="inicio" style="text-align:center">BASE DE DATOS</h1>


        <div class="tabla" th:if="${personas != null and !personas.empty}">

            <table >
                <tr>

                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>


                </tr>

                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>
                    <td th:text="${persona.email}">Mostrar Email</td>
                    <td th:text="${persona.cedula}">Mostrar Cedula</td>
                    <td th:text="${persona.telefono}">Mostrar Teléfono</td>   
                    <td><a th:href="@{/editar(idPersona=${persona.idPersona})}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>

        <br/>


        <form style="text-align:center" method="get" action="/agregar">
            <button  class="uno" type="submit">Agregar Persona</button>
        </form>

        <div th:if="${personas == null or personas.empty}">
            [[#{persona.lista-vacia}]]
        </div>


        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>


    </body>
    <footer th:fragment="footer">            
        <div class="Fot">
            <br/> 
            <span> Todos los derechos reservados
                <a href="https://www.linkedin.com/in/dussanpalma" 
                   target="_blank">Linkedin Dussan Palma</a></span>
        </div>
    </footer>
</html>
